@model veiculos.Models.Veiculo

@{
    ViewData["Title"] = "Veiculo";
}
<h1 class="display-4">Veiculo</h1>
<h4>Cadastro</h4>
<div class="row">
    <div class="col-md-4">
        @ViewData["mensagem"]
        <form asp-action="Veiculo" asp-controller="Veiculos">
            <div class="form-group">
                @Html.LabelFor(model => model.Placa)
                @Html.TextBoxFor(model => model.Placa, new {@class="form-control" })
                @Html.ValidationMessageFor(model => model.Placa)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Chassis)
                @Html.TextBoxFor(model => model.Chassis, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.Chassis)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Tipo)
                @Html.TextBoxFor(model => model.Tipo, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.Tipo)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AnoFabricacao)
                @Html.TextBoxFor(model => model.AnoFabricacao, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.AnoFabricacao)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AnoModelo)
                @Html.TextBoxFor(model => model.AnoModelo, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.AnoModelo)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Nome)
                @Html.TextBoxFor(model => model.Nome, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Marca)
                @Html.TextBoxFor(model => model.Marca, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.Marca)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Potencia)
                @Html.TextBoxFor(model => model.Potencia, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.Potencia)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DataDeCompra)
                @Html.TextBoxFor(model => model.DataDeCompra, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.DataDeCompra)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Estado)
                @Html.TextBoxFor(model => model.Estado, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.Estado)
            </div>
            <input type="submit" value="Salvar" class="btn btn-success" style="margin-top: 20px;" />
        </form>
    </div>
</div>
